.sign-in{
    background: url("../../../../public//images/bg-login.jpeg") no-repeat;
    background-size: cover;
    .sign-in-content{
        width: 500px;
        padding: 24px 12px;
        background-color: rgba(216, 211, 211, 0.4);
    }
}